app-page-header(pageName="Meus Eventos",[showCreateEventBtn]='events.length == 0')
.page-container

	ng-container(*ngIf="events.length == 0; then noEvents; else showEvents")

	//In case there are no events to be shown
	ng-template(#noEvents)
		.no-events
			img(src="./assets/empty-list-calendar.png")
			p Você não possui eventos criados
			button.warning(routerLink='/event') criar novo evento

	//else
	ng-template(#showEvents)
		.card
			h3 MINHA LISTA DE EVENTOS
