app-page-header(pageName="Criar Eventos")
.page-container
    .card
        .title 1. Nome do Evento
        //- input()

        .title 2. Quando?
        //- input()

        .title 3. Ingresso
        //- input()