
html {
	font-family: "Open Sans";
	font-style: normal;
	font-variant: normal;
}

h1, h2, h3, h4, h5 {
	text-align: left;
}

h1 {
	font-family: "Open Sans";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
}
