@import './src/sass/abstracts/_variables';

html {
	font-family: "Open Sans";
	font-style: normal;
	font-variant: normal;
	letter-spacing: normal;
	font-stretch: normal;
}

h1, h2, h3, h4, h5 {
	line-height: 1;
	color: $secondary;
	text-align: left;
	font-weight: 300;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5;
	color: #a8a9af;
}
