@import './base/typography';
@import './abstracts/variables';
@import './abstracts/mixins';
@import './components/avatar';
@import './components/button';
@import './components/card';
@import './components/input';
@import './components/table';
@import './components/page_header';
@import './layout/header';
@import './layout/grid';

body {

	background-color: $background-color;
	margin: 0px;
	height: calc(100vh - #{$header-height});

	.afix {
		position: relative;
		margin-top: $header-height;
	}

	.scroll-container {
		overflow-y: scroll;
		height: calc(100vh - #{$header-height});
		.page-container {
			padding: 21px $page-container-side-padding;
		}
	}


}
