/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
	$raw-query: map-get($breakpoints, $breakpoint);

	@if $raw-query {
		$query: if(
			type-of($raw-query) == 'string',
			unquote($raw-query),
			inspect($raw-query)
		);

		@media #{$query} {
			@content;
		}
	} @else {
		@error 'No value found for `#{$breakpoint}`. '
			+ 'Please make sure it is defined in `$breakpoints` map.';
	}
}

@mixin btn-theme($btn-color) {

	cursor: pointer;
	background-color: $btn-color;
	border: 1px solid $btn-color;
	color: $white;
	border-radius: 64px;
	padding:  6px 12px;
	text-transform: uppercase;

	&:hover {
		background-color: lighten($color: $btn-color, $amount: 6);
		border-color: lighten($color: $btn-color, $amount: 6);
	}

	&:active {
		color: $btn-color;
		background-color: white;
	}

	&:disabled {
		border-color: lighten($color: $secondary, $amount: 30);
		color: lighten($color: $secondary, $amount: 30);
		background-color: lighten($color: #000000, $amount: 98);
		cursor: default;
	}

	&.outline {
		background-color: $white;
		color: $btn-color;
		border-color: $btn-color;
		&:hover {
			background-color: lighten($color: #000000, $amount: 98);
		}

		&:active {
			background-color: $btn-color;
			color: $white;
		}
	}
}
