
.header-container
    header
        button(*ngIf="router.url === '/events'", routerLink="/event") +criar evento
        button.outline(*ngIf="router.url !== '/events'", routerLink="/events") meus eventos
        img.logo(alt="sympla-challange", src="./assets/ic-sympla-header.png")
        app-avatar(imgSrc="./assets/ic-sympla-header.png")
