
.header-container
	header
		button(*ngIf="router.url === '/events'", routerLink="/event") +criar evento
		button.outline(*ngIf="router.url !== '/events'", routerLink="/events") meus eventos
		img.logo(alt="wevent", src="./assets/wevent-logo.png")
		app-avatar(imgSrc="./assets/wevent-logo.png")
