@import './abstracts/variables';

.avatar {

    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    height: $avatar-size;
    width: $avatar-size;
    background-color: $white;

    .shadow{
        position:absolute;
        height: $avatar-size;
        width: $avatar-size;
        filter: blur(0.5px);
        border-radius: 50%;
        border: solid 0.5px rgba(0, 0, 0, 0.1);
    }

    img {
        height: calc(#{$avatar-size} - 2px);
        width:  calc(#{$avatar-size} - 2px);
        border-radius: 50%;
    }
}