label {
	margin-bottom: 5px;
	font-weight: 600;
	line-height: 1.5;
	text-align: left;
	font-size: 12px;
	color: $secondary;
	&.required {
		&::after {
			content: ' *';
			color: $error;
		}
	}
}

input{
	border: 1px solid #dfe0df;
	border-radius: 3px;
	height: 24px;
	padding: 8px;
	align-self: stretch;
	&.ng-dirty.ng-invalid, &.ng-touched.ng-invalid {
		border: 1px solid $error;
	}
}

.input-container {

	margin-left: 20px;
	&:first-child {
		margin-left: 0px;
	}

	.error {
		color: $error;
		font-size: 10px;
	}

	.input-group{

		display: flex;
		border: 1px solid #dfe0df;
		border-radius: 3px;

		.input-group-icon{
			padding: 8px;
			height: 24px;
			border-right: 1px solid #dfe0df;
		}

		.input-group-content {
			display: flex;
			width: 100%;
			input{
				@extend input;
				border: 0px;
				width: 100%;
			}
		}
	}
}
