@import './abstracts/variables';

.header-container {
    left: 0;
    top: 0;
    position: fixed;
    z-index: 10;
    display: block;
    width: 100%;

    header {
        @extend .display-flex-center;
        padding: 0px $default-padding;
        flex-wrap: wrap-reverse;
        min-height: $header-height;
        max-height: auto;
        min-width: 0;
        max-width: 100%;
        background-color: $white;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);

        img.logo {
            height: 58px;
			align-self: flex-start;
			border-radius: 0 0 50% 50%;
        }

    }
}
